<div style="">	
	<span class="previous">
		<a href="" ng-click="previousPage()">&larr; Previous</a>
	</span>&nbsp;&nbsp;&nbsp;
	 <span class="next">
	 	<a href="" ng-click="nextPage()">Next &rarr;</a>
	</span>
</div>


